@model TrabalhoPratico.Models.ViewModels.VeiculoViewModel

@{
    ViewData["Title"] = "Editar veiculo";
}

<h1>Editar</h1>

<h4>Editar um veiculo</h4>
<hr />
@if (@ViewBag.error != null)
{
    <p class="text-danger">@ViewBag.error</p>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating">
                <div>
                    @if (Model.Avatar == null)
                    {
                        <img id="MyAvatar" class="img-thumbnail" src="~/img/user.png" style="height:75px;width:auto" />
                    }
                    else
                    {
                        <img id="MyAvatar" class="img-thumbnail" style="height:75px;width:auto"
                         src="data:image/*;base64,@(Convert.ToBase64String(Model.Avatar))" />
                    }
                </div>
                <div>
                    <label asp-for="@Model.AvatarFile">Escolha uma imagem de perfil:</label>
                    <input type="file" accept=".png,.jpg,.jpeg,image/png,image/jpeg"
                           asp-for="@Model.AvatarFile" class="form-control" 
                           onchange="document.getElementById('MyAvatar').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="@Model.AvatarFile" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quilometros" class="control-label"></label>
                <input asp-for="Quilometros" class="form-control" />
                <span asp-validation-for="Quilometros" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponivel" /> @Html.DisplayNameFor(model => model.Disponivel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PrecoDia" class="control-label"></label>
                <input asp-for="PrecoDia" class="form-control" />
                <span asp-validation-for="PrecoDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizacaoId" class="control-label"></label>
                <select asp-for="LocalizacaoId" class="form-control" asp-items="ViewBag.LocalizacaoId"></select>
                <span asp-validation-for="LocalizacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
