@model TrabalhoPratico.Models.ViewModels.PesquisaFrotaVeiculosViewModel

@{
    ViewData["Title"] = "Veiculos";
}

<h1>Lista de Veiculos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar veiculo</a>
</p>

<form method="post">

    <label asp-for="TextoAPesquisar" class="control-label"></label>
    <input asp-for="TextoAPesquisar"/>
    <button id="botaoPesquisa" type="submit" class="btn btn-default">
        <svg bootstrap-icon="Search" class="text-warning" width="24" height="24" aria-label="Search"></svg>
    </button>
    <label for="Disponivel">Veiculo Disponivel:</label>
    <input type="checkbox" id="Disponivel" name="Disponivel" checked="@Model.Disponivel">
    <label for="CategoriaId">Categoria:</label>
    <select name="CategoriaId" asp-items="ViewBag.CategoriaId"></select>
    <label for="ordem">Ordenação:</label>
    <select name="Ordem" asp-for="Ordem" onchange="this.form.submit()">
        <option value="desc">Veiculo Descendente</option>
        <option value="asc">Veiculo Ascendente</option>
    </select>
</form>

@if (@ViewBag.error != null)
{
    <p class="text-danger">@ViewBag.error</p>
}
<table class="table table-bordered table-striped table-hover text-center table-responsive-sm">
    <thead>
        <tr>
            <th>
                Veiculo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeVeiculos.FirstOrDefault().Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeVeiculos.FirstOrDefault().PrecoDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeVeiculos.FirstOrDefault().Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeVeiculos.FirstOrDefault().Disponivel)
            </th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaDeVeiculos) {
        <tr>
            <td>
                @if (string.IsNullOrWhiteSpace(Model.TextoAPesquisar))
                {
                        @Html.DisplayFor(modelItem => item.Marca)
                        <span> </span>
                        @Html.DisplayFor(modelItem => item.Modelo)
                }
                else
                {
                    @Html.Raw(item.Marca.ToString().ToLower().Replace(Model.TextoAPesquisar.ToLower(),
                "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>"))
                <span> </span>
                        @Html.Raw(item.Modelo.ToString().ToLower().Replace(Model.TextoAPesquisar.ToLower(),
                "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>"))
                }
                (@Html.DisplayFor(modelItem => item.Matricula))
            </td>
            <td>
                    @if (string.IsNullOrWhiteSpace(Model.TextoAPesquisar))
                    {
                        @Html.DisplayFor(modelItem => item.Ano)
                    }
                    else
                    {
                        @Html.Raw(item.Ano.ToString().ToLower().Replace(Model.TextoAPesquisar.ToLower(),
                "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>"))
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoDia)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @if (item.Disponivel)
                {
                    <p class="text-success fw-bold">Ativo</p>
                }
                else
                {
                    <p class="text-danger fw-bold">Inativo</p>
                }
            </td>
            <td>
                @if (item.Disponivel)
                {
                    <a asp-action="Desativar" asp-route-id="@item.Id" class="btn btn-outline-danger">Desativar Registo</a>
                }
                else
                {
                    <a asp-action="Ativar" asp-route-id="@item.Id" class="btn btn-outline-success">Ativar Registo</a>
                }
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
