@model TrabalhoPratico.Models.Reserva

@{
    ViewData["Title"] = "Reservar Veiculo";
}

<h1>Reservar Veiculo</h1>

@if(ViewBag.error != null)
{
    <span class="text-danger">@ViewBag.error</span>
}

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="VeiculoId" value="@Model.VeiculoId" />
            <div class="form-group">
                <label asp-for="DataLevantamento" class="control-label"></label>
                <input asp-for="DataLevantamento" class="form-control" />
                <span asp-validation-for="DataLevantamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div> 
            <p></p>
            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-primary" />
                <a asp-controller="Veiculos" asp-action="Search" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 mb-7 text-center">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                @if (Model.Veiculo.Avatar == null)
                {
                    <img id="MyAvatar" class="img-thumbnail" src="~/img/user.png" style="width: 200px; height: auto;" />
                }
                else
                {
                    <img id="MyAvatar" class="img-thumbnail"
                     src="data:image/*;base64,@(Convert.ToBase64String(Model.Veiculo.Avatar))" style="width: 200px; height: auto;" />
                }
                <h2 class="my-0 fw-normal">

                    @Html.DisplayFor(modelItem => Model.Veiculo.Marca)
                    <span> </span>
                    @Html.DisplayFor(modelItem => Model.Veiculo.Modelo)

                </h2>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <h5>Categoria: @Html.DisplayFor(modelItem => Model.Veiculo.Categoria.Nome)</h5>

                    <h5>Localização: @Html.DisplayFor(modelItem => Model.Veiculo.Localizacao.Nome)</h5>

                    <h5>
                        Empresa:
                        @Html.DisplayFor(modelItem => Model.Veiculo.Empresa.Nome)
                        @{
                            decimal sum = 0;
                            foreach(var classi in Model.Veiculo.Empresa.Classificacoes)
                            {
                                sum += classi.ClassificacaoReserva;
                            }
                            if(Model.Veiculo.Empresa.Classificacoes.Count > 0)
                            {
                                sum /= Model.Veiculo.Empresa.Classificacoes.Count;
                            }
                            if(sum > 0)
                            {
                                <span>@sum/10</span>
                            }
                        }
                        <svg bootstrap-icon="Star" class="text-warning align-bottom" width="24" height="24" aria-label="Classificação"></svg>

                    </h5>
                </ul>
                <hr>
                <h1 class="card-title pricing-card-title">
                    @Html.DisplayFor(modelItem => Model.Veiculo.PrecoDia)€
                    <small class="text-muted fw-light"></small>
                </h1>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
